.navbar {
    width: 100%;
    height: 120px;
    background-color: #76D7C4;
    position: fixed;
    z-index: 5;
}

.navbar__container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navbar__logo img {
    height: 100px;
    margin-left: 30px;
}

.navbar__list {
    height: 100px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #212F3D;
    padding: 0px 50px;
    font-weight: 900;
}

.navbar__list a:hover {
    color: #2E4053;
    border-bottom: 1px solid #2E4053;
}

.navbar__menu {
    display: none;
}



@media screen and (max-width: 960px) {
    .navbar__list {
        background-color: #A3E4D7;
        height: 90vh;
        position: absolute;
        top: 104px;
        left: -120%;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 1.5 all ease-in;
    }

    .navbar__list.active {
        left: 0;
        transition: 1.5 all ease-in;
    }

    .navbar__item {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 0.5rem;
    }
}